dataclasses
elasticsearch
matplotlib
mysql-connector-python
nameparser
numpy
openpyxl
pandas
pendulum
phonenumbers
pycountry
pymailcheck
pymongo
pytest
python-dateutil
python-dotenv
pyxlsb
requests
text-unidecode
tqdm
translate
xlrd
